{% extends "./layout/Layout_Trainer.html" %}


{% block content %}

	<!--**********************************
		Content body start
	***********************************-->
	<div class="content-body default-height">
		<div class="container-fluid">
			<div class="page-titles">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ url_for ('trainer_app.clientes') }}">Clientes</a></li>
					<li class="breadcrumb-item active"><a href="">Estadísticas</a></li>
				</ol>
			</div>
			<!-- row -->
			<div class="row">

				<div class="col-xl-12">
					<div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
						<div class="me-auto pe-3 mb-3"></div>
						<button class="btn rounded btn-primary mb-3" id="btnAgregarCliente">
							<i class="flaticon-381-user-8 mx-2"></i>
							Agregar Estadística
						</button>
					</div>
				</div>
				<!--**********************************
					VALIDACION CON JQUERY
				***********************************-->
				<div class="col-lg-12">
					<div class="card form-container" id="formCliente" style="display: none;">
						<div class="card-body">
							<div class="form-validation">
								<form class="needs-validation" novalidate>
									
									
									<h4>Información Personal</h4>
									<hr>
									<div class="row">
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom01">Nombre Completo <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom01" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar nombre completo.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom02">Edad <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom02" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar edad.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom03">Estatura <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom03" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar estatura.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom04">Fecha de Medición <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" id="mdate" class="form-control" placeholder="Fecha" required>
													<div class="invalid-feedback">Por favor ingresar fecha de medición.</div>
												</div>
											</div>
										</div>
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom05">Peso <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom05" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar peso.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom06">IMC <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom06" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar IMC.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom07">FC Reposo <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom07" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar FC Reposo.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom08">FC Max <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom08" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar FC Max.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom09">Presión Arterial <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom09" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar presión arterial.</div>
												</div>
											</div>
										</div>
									</div>
				
									
									<h4>Escaneo</h4>
									<hr>
									<div class="row">
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom10">Peso <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom10" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar peso.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom11">IMC <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom11" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar IMC.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom12">FC Reposo <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom12" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar FC Reposo.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom13">FC Max <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom13" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar FC Max.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom14">Presión Arterial <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom14" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar presión arterial.</div>
												</div>
											</div>
										</div>
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom15">BMR <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom15" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar BMR.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom16">% Grasa Corporal <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom16" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar % grasa corporal.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom17">% Agua <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom17" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar % agua.</div>
												</div>
											</div>
										</div>
									</div>
				
									
									<h4>Circunferencias</h4>
									<hr>
									<div class="row">
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom18">Pecho <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom18" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar circunferencia del pecho.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom19">Brazo Derecho <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom19" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar circunferencia del brazo derecho.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom20">Brazo Izquierdo <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom20" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar circunferencia del brazo izquierdo.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom21">Cintura <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom21" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar circunferencia de la cintura.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom22">Abdomen <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom22" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar circunferencia del abdomen.</div>
												</div>
											</div>
										</div>
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom23">Cadera <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom23" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar circunferencia de la cadera.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom24">Muslo Derecho <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom24" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar circunferencia del muslo derecho.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom25">Muslo Izquierdo <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom25" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar circunferencia del muslo izquierdo.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom26">Pantorrilla Derecha <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom26" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar circunferencia de la pantorrilla derecha.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom27">Pantorrilla Izquierda <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom27" placeholder="" required>
													<div class="invalid-feedback">Por favor ingresar circunferencia de la pantorrilla izquierda.</div>
												</div>
											</div>
										</div>
									</div>
				
									
									<h4>Sección Especial</h4>
									<hr>
									<div class="row">
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom28">Consideraciones Especiales <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom28" placeholder="Enfermedad, medicamentos, operación, lesión, etc." required>
													<div class="invalid-feedback">Por favor ingresar consideraciones especiales.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom29">¿Es deportista? <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<select class="form-control" id="validationCustom29" required>
														<option value="" disabled selected>Seleccione</option>
														<option value="si">Sí</option>
														<option value="no">No</option>
													</select>
													<div class="invalid-feedback">Por favor seleccione si es deportista.</div>
												</div>
											</div>
										</div>
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom30">Método de Entrenamiento <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom30" placeholder="Objetivo y énfasis" required>
													<div class="invalid-feedback">Por favor ingresar método de entrenamiento.</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom31">Disponibilidad de Tiempo <span class="text-danger">*</span></label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom31" placeholder="Disponibilidad horaria" required>
													<div class="invalid-feedback">Por favor ingresar disponibilidad de tiempo.</div>
												</div>
											</div>
										</div>
									</div>
				
									
									<div class="my-3">
										<div class="d-flex justify-content-start">
											<button type="submit" class="btn btn-primary ms-2">Agregar</button>
											<button class="btn btn-danger ms-2" id="btnCancelar">Cancelar</button>
										</div>
									</div>
									
								</form>
							</div>
						</div>
					</div>
				</div>
				
				
				<!--**********************************
					DATATABLES 
				***********************************-->
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Lista de Estadísticas</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="example2" class="display min-w850">
								<thead>
									<tr>
										<th>Fecha</th>
										<th>Entrenador</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>09/08/2024</td>
										<td>Carlos Hidalgo</td>
										<td>
											<div class="d-flex">
												
												<a href="{{ url_for ('trainer_app.verEstadistica') }}"
													class="btn btn-primary shadow btn-xs sharp me-1"><i
														class="fa fa-eye"></i></a>
												<a href="{{ url_for ('trainer_app.editarEstadistica') }}"
													class="btn btn-primary shadow btn-xs sharp me-1"><i
														class="fa fa-pencil"></i></a>
												<a href="#" class="btn btn-danger shadow btn-xs sharp"><i
														class="fa fa-trash"></i></a>
											</div>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>





			</div>
		</div>
	</div>
	<!--**********************************
		Content body end
	***********************************-->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('btnAgregarCliente').addEventListener('click', function () {
                document.getElementById('formCliente').style.display = 'block';
            });

            document.getElementById('btnCancelar').addEventListener('click', function () {
                document.getElementById('formCliente').style.display = 'none';
            });

        });
    </script>

    <script>
        $(document).ready(function () {
            // SmartWizard initialize
            $('#smartwizard').smartWizard();
        });
    </script>

    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

{% endblock %}