{% extends "./layout/Layout_Trainer.html" %}


{% block content %}

	<!--**********************************
		Content body start
	***********************************-->
	<div class="content-body default-height">
		<div class="container-fluid">
			<div class="page-titles">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ url_for ('trainer_app.clients') }}">Clientes</a></li>
					<li class="breadcrumb-item active"><a href="">Estadísticas</a></li>
				</ol>
			</div>
			<!-- row -->
			<div class="row">

				<div class="col-xl-12">
					<div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
						<div class="me-auto pe-3 mb-3"></div>
						<button class="btn rounded btn-primary mb-3" id="btnAgregarCliente">
							<i class="flaticon-381-user-8 mx-2"></i>
							Agregar Estadística
						</button>
					</div>
				</div>
				<!--**********************************
					VALIDACION CON JQUERY
				***********************************-->
				<div class="col-lg-12">
					<div class="card form-container" id="formStatistics" style="display: none;">
						<div class="card-body">
							<div class="form-validation">
								<form class="needs-validation" action="{{ url_for('trainer_app.estadisticasCliente', documentId=documentId) }}" novalidate method="POST">
									<h4>Escaneo</h4>
									<hr>
									<div class="row">
										<div class="col-xl-6">

									
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label">Nombre completo</label>
												<div class="col-lg-6">
													<input type="text" class="form-control"  value="{{ client[0] }} {{ client[1] }} {{ client[2] }}" readonly>
												</div>
											</div>
									
										
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom01">Fecha de Medición</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="validationCustom01" name="Measurement_Date" value="{{statistics_data.Measurement_Date}}" readonly>
													<div class="invalid-feedback">Por favor ingresar fecha de medición.</div>
												</div>
											</div>

											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Estatura </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name ="Stature"  value="{{statistics_data.Stature}}">
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Peso </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name ="Weight" value="{{statistics_data.Weight}}" >
													
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >IMC </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="IMC" value="{{statistics_data.IMC}}" >
												</div>
											</div>

											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >FC Reposo</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="FC_Repose" value="{{statistics_data.FC_Repose}}" >
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >FC Max </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="FC_MAX" value="{{statistics_data.FC_MAX}}" >
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Presión Arterial </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Blood_pressure" value="{{statistics_data.Blood_pressure}}" >
												</div>
											</div>

										</div>
										<div class="col-xl-6">
											
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Edad</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" value="{{client[3]}}" readonly>
												</div>
											</div>
										

											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >BMR </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="BMR" value="{{statistics_data.BMR}}" >
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Grasa Corporal </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Body_Fat" value="{{statistics_data.Body_Fat}}" >
												</div>
											</div>

											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Porcentaje Agua </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Percent_Water" value="{{statistics_data.Percent_Water}}">
												</div>
											</div>

											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Masa Muscular </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Muscle_Mass" value="{{statistics_data.Muscle_Mass}}">
												</div>
											</div>

											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Edad Metabólica </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Metabolic_Age" value="{{statistics_data.Metabolic_Age}}">
												</div>
											</div>

											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Masa Ósea</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Bone_Mass" value="{{statistics_data.Bone_Mass}}" >
												</div>
											</div>

											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Grasa Visceral</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name = "Visceral_Fat" value="{{statistics_data.Visceral_Fat}}" >
												</div>
											</div>


										</div>
									</div>
				
									
							
									
									<h4>Circunferencias</h4>
									<hr>
									<div class="row">
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Pecho </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Chest_Circum" value="{{statistics_data.Chest_Circum}}">
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Brazo Derecho </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Right_Arm_Circum" value="{{statistics_data.Right_Arm_Circum}}" >
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Brazo Izquierdo </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Left_Arm_Circum" value="{{statistics_data.Left_Arm_Circum}}">
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Cintura </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Circum_Waist" value="{{statistics_data.Circum_Waist}}">
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label">Abdomen </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Circum_Abdomen" value="{{statistics_data.Circum_Abdomen}}" >
												</div>
											</div>
										</div>
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Cadera </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Hip_Circum" value="{{statistics_data.Hip_Circum}}">
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Muslo Derecho </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Circum_Thigh_Right" value="{{statistics_data.Circum_Thigh_Right}}">
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Muslo Izquierdo </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Circum_Thigh_Left" value="{{statistics_data.Circum_Thigh_Left}}" >
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Pantorrilla Derecha </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Circum_Calf_Right" value="{{statistics_data.Circum_Calf_Right}}"  >
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Pantorrilla Izquierda </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Circum_Calf_Left" value="{{statistics_data.Circum_Calf_Left}}"  >
												</div>
											</div>
										</div>
									</div>
				
									
									<h4>Sección Especial</h4>
									<hr>
									<div class="row">
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Consideraciones Especiales </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Special_Considerations" value="{{statistics_data.Special_Considerations}}">
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >¿Es deportista? </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="sportsman" value="{{statistics_data.sportsman}}" >
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Disponibilidad de Tiempo </label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Disponibilidad" value="{{statistics_data.Disponibilidad}}">
												</div>
											</div>
										</div>
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Objetivo</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Training_Goal" value="{{statistics_data.Training_Goal}}" >
												</div>
											</div>

											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" >Énfasis</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" name="Emphasis_Training" value="{{statistics_data.Emphasis_Training}}" >
												</div>
											</div>

											<input type="hidden" name="Client_ID" value="{{documentId}}">
											<input type="hidden" name="Trainer_ID" value="{{current_user.DocumentId}}">
											<input type="hidden" name="State" value=1>
										</div>
									</div>
				
									
									<div class="my-3">
										<div class="d-flex justify-content-start">
											<button type="submit" class="btn btn-primary ms-2">Agregar</button>
											<button class="btn btn-danger ms-2" id="btnCancelar" type="button">Cancelar</button>
										</div>
									</div>
									
								</form>
							</div>
						</div>
					</div>
				</div>
				
				
				<!--**********************************
					DATATABLES 
				***********************************-->
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Lista de Estadísticas</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="example2" class="display min-w850">
								<thead>
									<tr>
										<th>Fecha</th>
										<th>Entrenador</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% if statistics %}
										{% for stat in statistics %}
										<tr>
											<td>{{ stat[1].strftime('%d/%m/%Y') }}</td>
											<td>{{ stat[2] }} {{stat[3]}}</td>
											<td>
												<div class="d-flex">
													<!-- Ver estadística -->
													<a href="{{ url_for('trainer_app.verEstadistica', statistic_id=stat.ID_Statistics) }}"
														class="btn btn-primary shadow btn-xs sharp me-1">
														<i class="fa fa-eye"></i>
													</a>
													<!-- Editar estadística -->
													<a href="{{ url_for('trainer_app.editarEstadistica') }}"
														class="btn btn-primary shadow btn-xs sharp me-1">
														<i class="fa fa-pencil"></i>
													</a>
													<!-- Eliminar estadística -->
													<a href=""
														class="btn btn-danger shadow btn-xs sharp">
														<i class="fa fa-trash"></i>
													</a>
												</div>
											</td>
										</tr>
										{% endfor %}
									{% else %}
										<tr>
											<td colspan="3">No hay estadísticas registradas para este cliente.</td>
											<td ></td>
											<td ></td>
										</tr>
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>





			</div>
		</div>
	</div>
	<!--**********************************
		Content body end
	***********************************-->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('btnAgregarCliente').addEventListener('click', function () {
                document.getElementById('formStatistics').style.display = 'block';
            });

            document.getElementById('btnCancelar').addEventListener('click', function () {
                document.getElementById('formStatistics').style.display = 'none';
            });

        });
    </script>

    <script>
        $(document).ready(function () {
            // SmartWizard initialize
            $('#smartwizard').smartWizard();
        });
    </script>

    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })

		document.addEventListener("DOMContentLoaded", function() {
		var measurementDateInput = document.getElementById('validationCustom01');
		if (!measurementDateInput.value) {
			var today = new Date();
			// Ajustar la fecha a la zona horaria local
			var offset = today.getTimezoneOffset() * 60000; // Convertir minutos a milisegundos
			var localDate = new Date(today.getTime() - offset);
			var formattedDate = localDate.toISOString().split('T')[0]; // Formato YYYY-MM-DD
			measurementDateInput.value = formattedDate;
		}
	});
	

	
    </script>

{% endblock %}