{% extends "./layout/Layout_Trainer.html" %}


{% block content %}
        
	<!--**********************************
		Content body start
	***********************************-->
	<div class="content-body default-height">
		<!-- row -->
		<div class="container-fluid">
			<div class="page-titles">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ url_for ('trainer_app.clients') }}">Clientes</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Rutinas</a></li>
				</ol>
			</div>
			<div class="row">
				<div class="col-xl-12 col-xxl-12">
					<div class="row">
						<div class="col-xl-12">
							<div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
								<div class="me-auto pe-3 mb-3"></div>
								
								<a href="{{ url_for ('trainer_app.routineClient', ID_Cliente = client['DocumentId']) }}" class="btn rounded btn-primary mb-3">
									<i class="flaticon-381-notepad mx-2"></i>
									Nueva Rutina
								</a>
							</div>
						</div>

						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Lista de Rutinas</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="example2" class="display min-w850">
										<thead>
											<tr>
												<th>Indicaciones</th>
												<th>Fecha</th>
												<th>Estado</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											{% for routine in routines %}
											<tr>
												<td>{{ routine['Indications'] }}</td>
												<td>{{ routine['Date'] }}</td>
												<td>{{ routine['State'] }}</td>
												<td>
													<div class="d-flex">

													{% if routine['State'] == 1 %}
														<a href="{{ url_for('trainer_app.viewRoutine', routineId = routine['RoutineId'], DocumentId= client['DocumentId']) }}"
															class="btn btn-primary shadow btn-xs sharp me-1">
															<i class="fa fa-eye"></i>
														</a>

														<a href="{{ url_for('trainer_app.UpdateRoutine', routineId = routine['RoutineId']) }}"
															class="btn btn-primary shadow btn-xs sharp me-1">
															<i class="fa fa-pencil"></i>
														</a>

														<button onclick="disableRoutine(event)" data-id="{{ routine['RoutineId'] }}"
															id="deshabilitar-{{ routine['RoutineId'] }}"
															class="btn btn-danger shadow btn-xs sharp">
															<i class="fa fa-trash"></i>
														</button>
				
													{% else %}
														<button onclick="ableRoutine(event)" data-id="{{ routine['RoutineId'] }}"
															id="habilitar-{{ routine['RoutineId'] }}"
															class="btn btn-success shadow btn-xs sharp">
															<i class="fa fa-check"></i>
														</button>
													{% endif %}

													</div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!--**********************************
		Content body end
	***********************************-->
{% endblock %}