{% extends "./layout/Layout_Trainer.html" %}


{% block content %}
<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body default-height">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Clientes</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">

            <!--**********************************
                        DATATABLES 
                    ***********************************-->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Lista de Clientes</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example2" class="display min-w850">
                                <thead>
                                    <tr>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Ocupacion</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for client in clients %}
                                    <tr>
                                        <td>{{ client['DocumentId'] }}</td>
                                        <td>{{ client['Name'] }}</td>
                                        <td>{{ client['First_LastName'] }} {{ client['Second_LastName'] }}</td>
                                        <!-- Apellidos combinados -->
                                        <td>{{ client['Occupation'] }}</td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="{{ url_for ('trainer_app.routinesClient', ID_Cliente = client['DocumentId']) }}"
                                                    class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="flaticon-381-notepad"></i></a>
                                                <a href="{{ url_for ('trainer_app.statisticsClient',documentId=client['DocumentId']) }}"
                                                    class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fas fa-chart-bar"></i></a>
                                                <a href="{{ url_for('trainer_app.viewClient', documentId=client['DocumentId']) }}"
                                                    class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="fa fa-eye"></i></a>
                                                <button onclick="eliminarPrueba()" id="deshabilitar"
                                                    class="btn btn-danger shadow btn-xs sharp">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
<!--**********************************
            Content body end
        ***********************************-->

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btnAgregarCliente').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'block';
        });

        document.getElementById('btnCancelar').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'none';
        });

    });
</script>

<script>
    $(document).ready(function () {
        // SmartWizard initialize
        $('#smartwizard').smartWizard();
    });
</script>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

<script>
    localStorage.clear();
</script>
{% endblock %}