{% extends "./layout/Layout_Admin.html" %}


{% block content %}
<!--**********************************
            Content body start
        ***********************************-->
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Clientes</a></li>
                    </ol>
                </div>
                <!-- row -->
                <div class="row">

                    <div class="col-xl-12">
                        <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
                            <div class="me-auto pe-3 mb-3"></div>
                            <button class="btn rounded btn-primary mb-3" id="btnAgregarCliente">
                                <i class="flaticon-381-user-8 mx-2"></i>
                                Agregar Cliente
                            </button>
                        </div>
                    </div>
                    <!--**********************************
                        VALIDACION CON JQUERY
                    ***********************************-->
                    <div class="col-lg-12">
                        <div class="card form-container" id="formCliente" style="display: none;">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="needs-validation" novalidate>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom01">Cedula
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar Cedula
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom02">Nombre <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom02"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar nombre
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom03">Apellido 1
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom03"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar Apellido 1
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom04">Apellido 2 <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom04"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar Apellido 2
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom04">Fecha Nacimiento<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" id="mdate" class="form-control"
                                                            placeholder="Fecha" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar Fecha de Nacimiento
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom06">Correo
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom06"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar Correo.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom07">Telefono
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom07"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar Telefono.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom08">Ocupación
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom08"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar Ocupación.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom09">Teléfono de emergencia<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom09"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar teléfono de emergencia.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom10">Dirección <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom10"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar Dirección.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom11">Padecimiento
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom11"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar Padecimiento.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label"
                                                        for="validationCustom12">Limitaciones
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustom11"
                                                            placeholder="" required>
                                                        <div class="invalid-feedback">
                                                            Por favor ingresar Limitaciones.
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="my-3 ">
                                            <div class="d-flex justify-content-start ">
                                                <button type="submit" class="btn btn-primary ms-2">Agregar</button>
                                                <button class="btn btn-danger ms-2" id="btnCancelar">Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--**********************************
                        DATATABLES 
                    ***********************************-->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Lista de Clientes</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example2" class="display min-w850">
                                        <thead>
                                            <tr>
                                                <th>Cedula</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Ocupación</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>0-0000-000</td>
                                                <td>Hersal</td>
                                                <td>Alfaro Cisneros</td>
                                                <td>Programador</td>
                                                <td>
                                                    <div class="d-flex">

                                                        <a href=""
                                                            class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                                class="flaticon-381-notepad"></i></a>
                                                        <a href="{{ url_for('admin_app.estadisticas') }}"
                                                            class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                                class="fas fa-chart-bar"></i></a>
                                                        <a href="{{ url_for('admin_app.verCliente') }}"
                                                            class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                                class="fa fa-eye"></i></a>
                                                        <a href="actualizarCliente.html"
                                                            class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                                class="fa fa-pencil"></i></a>
                                                        <button onclick="eliminarPrueba()" id="deshabilitar" class="btn btn-danger shadow btn-xs sharp"><i
                                                                class="fa fa-trash"></i></button>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        <!--**********************************
            Content body end
        ***********************************-->
{% endblock %}


{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btnAgregarCliente').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'block';
        });

        document.getElementById('btnCancelar').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'none';
        });

    });
</script>
<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}