{% extends "./layout/Layout_Admin.html" %}


{% block content %}
<!--**********************************
            Content body start
        ***********************************-->

<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Facturas</a></li>
    </ol>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
            <div class="me-auto pe-3 mb-3"></div>
            <button class="btn rounded btn-primary mb-3" id="btnAgregarCliente">
                Agregar Factura
            </button>
        </div>
    </div>

    <div class="card form-container" id="formCliente" style="display: none;">


        <div class="form-group">
            <label for="invoiceType">Seleccione el tipo de factura:</label>
            <select class="form-control" id="invoiceType">
                <option value="" selected>Seleccione el Tipo de Pago</option>
                <option value="entrenador">Pago Entrenador</option>
                <option value="gasto">Pago General</option>
                <option value="productos">Pago Productos</option>
                <option value="membresia">Pago Membresía</option>

            </select>
        </div>


        <div class="col-xl-12">
            <form action="" id="entrenadorForm" class="form-container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 order-lg-2 mb-4">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-black">Entrenadores</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">Pago Entrenador</h6>
                                            <small class="text-muted">1 día</small>
                                        </div>
                                        <span class="text-muted">₡19 000</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>Total (CRC)</span>
                                        <strong>₡19 000</strong>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-lg-8 order-lg-1">
                                <h4 class="mb-3">Información Entrenador</h4>
                                <form class="needs-validation" novalidate="">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Entrenador</label>
                                            <select class="default-select form-control wide w-100">
                                                {% if trainers %}
                                                {% for trainer in trainers %}
                                                <option class="client" value="{{ trainer.DocumentId }}">{{ trainer.Name }}
                                                    {{
                                                        trainer.First_LastName }} {{ trainer.Second_LastName }} (Entrenador)
                                                </option>
                                                {% endfor %}
                                                {% endif %}
                                                {% if not trainers %}
                                                <option value="" disabled>No hay entrenadores disponibles</option>
                                                {% endif %}
                                            </select>
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="firstName" class="form-label">Nombre</label>
                                            <input type="text" class="form-control" id="firstName" placeholder="Nombre"
                                                value="" required="">
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="lastName" class="form-label">Apellido</label>
                                            <input type="text" class="form-control" id="lastName" placeholder="Apellido"
                                                value="" required="">
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="lastName" class="form-label"> Segundo
                                                Apellido</label>
                                            <input type="text" class="form-control" id="lastName"
                                                placeholder="2Apellido" value="" required="">
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="monto" class="form-label">Monto</label>
                                        <input type="text" class="form-control" id="monto" placeholder="₡" required="">
                                        <div class="invalid-feedback">
                                            Por favor ingresar un valor valido
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="Descripcion" class="form-label">Descripcion</label>
                                        <input type="text" class="form-control" id="Descripcion" placeholder=""
                                            required="">
                                        <div class="invalid-feedback">
                                            Por favor ingresar un valor valido
                                        </div>
                                    </div>

                                    <hr class="mb-4">

                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xl-12">
            <form action="" id="gastoForm" class="form-container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 order-lg-2 mb-4">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-black">Gatos Generales</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">Gatos</h6>
                                            <small class="text-muted">Productos nuevos</small>
                                        </div>
                                        <span class="text-muted">₡19 000</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>Total (CRC)</span>
                                        <strong>₡19 000</strong>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-lg-8 order-lg-1">
                                <h4 class="mb-3">Gastos Generales</h4>
                                <form class="needs-validation" novalidate="">
                                    <div class="row">
                                        <div class="mb-3">
                                            <label for="monto" class="form-label">Monto</label>
                                            <input type="text" class="form-control" id="monto" placeholder="₡"
                                                required="">
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="Descripcion" class="form-label">Descripcion</label>
                                            <input type="text" class="form-control" id="Descripcion" placeholder=""
                                                required="">
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mb-4">

                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xl-12">
            <form action="" id="productosForm" class="form-container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 order-lg-2 mb-4">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-black">Pagos De Productos</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">Creatina</h6>
                                            <small class="text-muted">1 scoop</small>
                                        </div>
                                        <span class="text-muted">₡1 000</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>Total (CRC)</span>
                                        <strong>₡1 000</strong>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-lg-8 order-lg-1">
                                <h4 class="mb-3">Información Producto</h4>
                                <form class="needs-validation" novalidate="">
                                    <div class="row">
                                        <div class=" mb-3">
                                            <label class="form-label">Productos</label>
                                            <select class="default-select form-control wide w-100">
                                                <option selected>Creatina - 1 scoop</option>
                                                <option value="1">Creatina - 1 scoop</option>
                                                <option value="1">Creatina - 1 scoop</option>
                                                <option value="1">Creatina - 1 scoop</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>


                                        <div class="mb-3">
                                            <label for="monto" class="form-label">Monto</label>
                                            <input type="number" class="form-control" id="monto" placeholder="₡"
                                                required="">
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="Descripcion" class="form-label">Descripcion</label>
                                            <input type="text" class="form-control" id="Descripcion" placeholder=""
                                                required="">
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>

                                    </div>

                                    <hr class="mb-4">

                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xl-12">
            <form action="" id="membresiaForm" class="form-container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 order-lg-2 mb-4">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-black">Compra</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">Membresia</h6>
                                            <small class="text-muted">1 mes</small>
                                        </div>
                                        <span class="text-muted">₡19 000</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>Total (CRC)</span>
                                        <strong>₡19 000</strong>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-lg-8 order-lg-1">
                                <h4 class="mb-3">Informacion Cliente</h4>
                                <form class="needs-validation" novalidate="">
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label class="form-label">Cliente</label>
                                            <select class="form-control single-select" id="validationCustomCedulaClient"
                                                name="DocumentIdClient">
                                                <option value="" disabled selected>Seleccionar la cédula</option>
                                                {% if clients %}
                                                {% for client in clients %}
                                                <option class="client" value="{{ client.DocumentId }}">{{ client.Name }}
                                                    {{
                                                    client.First_LastName }} {{ client.Second_LastName }} (Cliente)
                                                </option>
                                                {% endfor %}
                                                {% endif %}
                                                {% if not clients %}
                                                <option value="" disabled>No hay clientes disponibles</option>
                                                {% endif %}
                                            </select>
                                        </div>

                                    </div>

                                    <div class="mb-3">
                                        <label for="monto" class="form-label">Monto</label>
                                        <input type="text" class="form-control" id="monto" placeholder="₡" required="">
                                        <div class="invalid-feedback">
                                            Por favor ingresar un valor valido
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="Descripcion" class="form-label">Descripcion</label>
                                        <input type="text" class="form-control" id="Descripcion" placeholder=""
                                            required="">
                                        <div class="invalid-feedback">
                                            Por favor ingresar un valor valido
                                        </div>
                                    </div>

                                    <hr class="mb-4">

                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <button class="btn btn-danger ms-2 mb-4" id="btnCancelar">Cancelar</button>
    </div>


</div>
<!--**********************************
                        DATATABLES 
                    ***********************************-->
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Lista de Facturas</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example2" class="display min-w850">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>00/00/0000</td>
                            <td>18000</td>
                            <td>
                                <div class="d-flex">

                                    <a href="{{ url_for('admin_app.verFactura') }}"
                                        class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>
                                    <a href="{{ url_for('admin_app.anular') }}"
                                        class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>

                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!--**********************************
            Content body end
        ***********************************-->
{% endblock %}

{% block scripts %}

<!-- Oculta los tipos de pago -->
<style>
    .form-container {
        display: none;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btnAgregarCliente').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'block';
        });

        document.getElementById('btnCancelar').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'none';
        });

    });
</script>


<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}