{% extends "./layout/Layout_Admin.html" %}

{% block content %}
<!--**********************************
            Content body start
        ***********************************-->

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Membresías</a></li>
    </ol>
</div>
<!-- row -->
<div class="row">

    <div class="col-xl-12">
        <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
            <div class="me-auto pe-3 mb-3"></div>
            <button class="btn rounded btn-primary mb-3" id="btnAgregarCliente">
                Agregar Membresía
            </button>
        </div>
    </div>
    <!--**********************************
                        VALIDACION CON JQUERY
                    ***********************************-->
    <div class="col-lg-12">
        <div class="card form-container" id="formCliente" style="display: none;">
            <div class="card-body">
                <div class="form-validation">
                    <form class="needs-validation" novalidate action="/admin/membresias" method="POST">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomCedula">Nombre<span
                                            class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="text" name="Nombre" class="form-control" id="validationCustomCedula"
                                            required value="{{ membership.Name }}">
                                        <div class="invalid-feedback">Por favor ingrese Nombre.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomPassword">Descripción
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="text" name="Descripcion" class="form-control" id="validationCustomPassword"
                                            required value="{{ membership.Description }}">
                                        <div class="invalid-feedback">Por favor ingrese Descripción.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomPasswordConfirm">Precio
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="number" name="Precio" class="form-control" id="validationCustomPasswordConfirm"
                                            required value="{{ membership.Price }}">
                                        <div class="invalid-feedback">Por favor ingrese Precio.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="my-3">
                            <div class="d-flex justify-content-start">
                                <button type="submit" class="btn btn-primary ms-2">Agregar</button>
                                <button class="btn btn-danger ms-2" id="btnCancelar">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
                        DATATABLES 
                    ***********************************-->
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Lista de Membresías</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="display min-w850">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for membership in memberships %}
                            <tr>
                                <td>{{ membership['Name'] }}</td>
                                <td>{{ membership['Precio'] }}</td>
                                <td>
                                    <div class="d-flex">
                                        {% if membership['State'] == 1 %}
                                        <a href="{{ url_for('admin_app.viewMembership', id=membership['id']) }}"
                                            class="btn btn-primary shadow btn-xs sharp me-1">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="{{ url_for('admin_app.updateMembership', id=membership['id']) }}"
                                            class="btn btn-primary shadow btn-xs sharp me-1">
                                            <i class="fa fa-pencil"></i>
                                        </a>


                                        <button onclick="disableMembership(event)" data-id="{{ membership['id'] }}"
                                            id="deshabilitar-{{ membership['id'] }}"
                                            class="btn btn-danger shadow btn-xs sharp">
                                            <i class="fa fa-trash"></i>
                                        </button>

                                        {% else %}

                                        <button onclick="ableMembership(event)" data-id="{{ membership['id'] }}"
                                            id="habilitar-{{ membership['id'] }}"
                                            class="btn btn-success shadow btn-xs sharp">
                                            <i class="fa fa-check"></i>
                                        </button>

                                        {% endif %}
                                    </div>

                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




</div>
</div>
</div>

<!--**********************************
            Content body end
        ***********************************-->
{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btnAgregarCliente').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'block';
        });

        document.getElementById('btnCancelar').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'none';
        });

    });
</script>

<script>
    $(document).ready(function () {
        // SmartWizard initialize
        $('#smartwizard').smartWizard();
    });
</script>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

{% endblock %}