
{% extends "./layout/Layout_Admin.html" %}


{% block content %}

		<div class="page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ url_for('client_app.inventario') }}">Perfil</a></li>
				<li class="breadcrumb-item active"><a href="javascript:void(0)">Información</a></li>
			</ol>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card form-container">
					<div class="card-body">
						<h4 class="card-title mb-4">Perfil</h4>
						<div class="form-validation">
                            <form class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom01">Cédula</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" id="validationCustom01" value="{{ current_user.DocumentId }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom02">Rol</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" id="validationCustom02" value="{{ current_user.role }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom11">Correo</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" id="validationCustom11" value="{{ current_user.Email }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-5">
                                    <a type="button" class="btn btn-danger me-2" href="{{ url_for('client_app.inicio') }}">Volver</a>
                                </div>
                            </form>
                            
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}

