{% extends "./layout/Layout_Admin.html" %}


{% block content %}
<!--**********************************
            Content body start
        ***********************************-->
<div class="page-titles">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ url_for('admin_app.clients') }}">Clientes</a></li>
		<li class="breadcrumb-item active"><a href="">Estadísticas</a></li>
	</ol>
</div>
<!-- row -->


<!--**********************************
                        DATATABLES 
                    ***********************************-->
<div class="card">
	<div class="card-header">
		<h4 class="card-title">Lista de Estadisticas</h4>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="example2" class="display min-w850">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Entrenador</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if statistics %}
						{% for stat in statistics %}
						<tr>
							<td>{{ stat[1].strftime('%d/%m/%Y') }}</td>
							<td>{{ stat[3] }} {{stat[4]}}</td>
							<td>
								<div class="d-flex">
									{% if stat[2] == 1 %}

									<!-- Ver estadística -->
									<a href="{{ url_for('admin_app.viewStatistics', documentId=stat[0], clientId= documentId) }}"
										class="btn btn-primary shadow btn-xs sharp me-1">
										<i class="fa fa-eye"></i>
									</a>
								
									{% else %}

								
									{% endif %}
								</div>
							</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="3">No hay estadísticas registradas para este cliente.</td>
							<td ></td>
							<td ></td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>

		<!--**********************************
            Content body end
        ***********************************-->
		{% endblock %}

		{% block scripts %}

		{% endblock %}