{% extends "./layout/Layout_Admin.html" %}


{% block content %}
<!--**********************************
            Content body start
        ***********************************-->
<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Entrenadores</a></li>
    </ol>
</div>
<!-- row -->
<div class="row">

    <div class="col-xl-12">
        <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
            <div class="me-auto pe-3 mb-3"></div>
            <button class="btn rounded btn-primary mb-3" id="btnAgregarCliente">
                <i class="flaticon-381-user-8 mx-2"></i>
                Agregar Entrenador
            </button>
        </div>
    </div>
    <!--**********************************
                        VALIDACION CON JQUERY
                    ***********************************-->
    <div class="col-lg-12">
        <div class="card form-container" id="formCliente" style="display: none;">
            <div class="card-body">
                <div class="form-validation">
                    <form class="needs-validation" novalidate action="/admin/trainers" method="POST">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom01">Cedula
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="validationCustom01" name="documentId"
                                            required value="{{trainer.DocumentId}}">
                                        <div class="invalid-feedback">
                                            Por favor ingresar Cedula
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom02">Nombre <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="validationCustom02" name="name"
                                            required value="{{trainer.Name}}">
                                        <div class="invalid-feedback">
                                            Por favor ingresar nombre
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom03">Apellido 1
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="validationCustom03" name="firstLastName"
                                            required value="{{trainer.First_LastName}}">
                                        <div class="invalid-feedback">
                                            Por favor ingresar Apellido 1
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom04">Apellido 2 <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="validationCustom04" name="secondLastName"
                                            required value="{{trainer.Second_LastName}}">
                                        <div class="invalid-feedback">
                                            Por favor ingresar Apellido 2
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Date_Birth">Fecha
                                        Nacimiento<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="date" id="mdate" class="form-control" name="Date_Birth" required>
                                        <div class="invalid-feedback">
                                            Por favor ingresar Fecha de Nacimiento
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom06">Correo
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control" id="validationCustom06" name="mail"
                                            required value="{{trainer.Mail}}">
                                        <div class="invalid-feedback">
                                            Por favor ingresar Correo.
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom07">Telefono
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="number" class="form-control" id="validationCustom07" name="phone"
                                            required value="{{trainer.Phone}}">
                                        <div class="invalid-feedback">
                                            Por favor ingresar Telefono.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="my-3 ">
                            <div class="d-flex justify-content-start ">
                                <button type="submit" class="btn btn-primary ms-2">Agregar</button>
                                <button class="btn btn-danger ms-2" id="btnCancelar">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--********************************** DATATABLES ***********************************-->

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Lista de Entrenadores</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="display min-w850">
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Edad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for trainer in trainers %}
                            <tr>
                                <td>{{ trainer['DocumentId'] }}</td>
                                <td>{{ trainer['Name'] }}</td>
                                <td>{{ trainer['First_LastName'] }} {{ trainer['Second_LastName'] }}</td>
                                <!-- Apellidos combinados -->
                                <td>{{ trainer['Age'] }}</td>
                                <td>
                                    <div class="d-flex">
                                        {% if trainer['State'] == 1 %}
                                        <a href="{{ url_for('admin_app.rutinasCliente') }}"
                                            class="btn btn-primary shadow btn-xs sharp me-1">
                                            <i class="flaticon-381-notepad"></i>
                                        </a>
                                        <a href="{{ url_for('admin_app.estadisticas') }}"
                                            class="btn btn-primary shadow btn-xs sharp me-1">
                                            <i class="fas fa-chart-bar"></i>
                                        </a>
                                        <a href="{{ url_for('admin_app.viewClient', documentId=trainer['DocumentId']) }}"
                                            class="btn btn-primary shadow btn-xs sharp me-1">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="{{ url_for('admin_app.UpdateClient', documentId=trainer['DocumentId']) }}"
                                            class="btn btn-primary shadow btn-xs sharp me-1">
                                            <i class="fa fa-pencil"></i>
                                        </a>


                                        <button onclick="disableTrainer(event)" data-id="{{ trainer['DocumentId'] }}"
                                            id="deshabilitar-{{ trainer['DocumentId'] }}"
                                            class="btn btn-danger shadow btn-xs sharp">
                                            <i class="fa fa-trash"></i>
                                        </button>

                                        {% else %}

                                        <button onclick="ableTrainer(event)" data-id="{{ trainer['DocumentId'] }}"
                                            id="habilitar-{{ trainer['DocumentId'] }}"
                                            class="btn btn-success shadow btn-xs sharp">
                                            <i class="fa fa-check"></i>
                                        </button>

                                        {% endif %}
                                    </div>

                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!--**********************************
            Content body end
        ***********************************-->
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btnAgregarCliente').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'block';
        });

        document.getElementById('btnCancelar').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'none';
        });

    });
</script>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}