{% extends "./layout/Layout_Admin.html" %}

{% block content %}
<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('admin_app.users') }}">Usuarios</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Editar Usuario</a></li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card form-container">
            <div class="card-body">
                <h4 class="card-title mb-4">Editar Usuario</h4>
                <div class="form-validation">
                    <form class="needs-validation" method="POST" novalidate>
                        <input type="hidden" value="{{ user.Cedula }}">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">Cédula <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        {% if user.role == "Admin" %}
                                        <input type="text" class="form-control" name="DocumentId" value="{{ user.DocumentId }}" required>
                                        {% else %}
                                        <input type="text" class="form-control" name="DocumentId" value="{{ user.DocumentId }}" readonly>
                                        {% endif %}
                                        <div class="invalid-feedback">Por favor ingresar la cédula</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="role">Rol <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="Role" id="role" required>
                                            <option value="Admin" {% if user.role == 'Admin' %} selected {% endif %}>Administrador</option>
                                            <option value="Trainer" {% if user.role == 'Trainer' %} selected {% endif %}>Entrenador</option>
                                            <option value="Client" {% if user.role == 'Client' %} selected {% endif %}>Cliente</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">Contraseña</label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" name="Password">
                                        <small class="text-muted">Deja en blanco si no deseas cambiar la contraseña</small>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">Confirmar Contraseña</label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" name="ConfirmPassword">
                                        <div class="invalid-feedback">Las contraseñas no coinciden.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">Estado <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="State" required>
                                            <option value="1" {% if user.State == 1 %}selected{% endif %}>Activo</option>
                                            <option value="0" {% if user.State == 0 %}selected{% endif %}>Inactivo</option>
                                        </select>
                                        <div class="invalid-feedback">Por favor seleccione un estado.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">Correo <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control" name="Email" value="{{ user.Email }}" required>
                                        <div class="invalid-feedback">Por favor ingrese un correo válido.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="my-5">
                            <button type="submit" class="btn btn-primary me-2">Actualizar</button>
                            <a type="button" class="btn btn-danger me-2" href="{{ url_for('admin_app.users') }}">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
