{% extends "./layout/Layout_Admin.html" %}

{% block upScripts %}
<script src="../../../static/js/stateUser.js"></script>
{% endblock %}


{% block content %}
<!--**********************************
        Content body start
***********************************-->

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Usuarios</a></li>
    </ol>
</div>
<!-- row -->
<div class="row">

    <div class="col-xl-12">
        <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
            <div class="me-auto pe-3 mb-3"></div>
            <button class="btn rounded btn-primary mb-3" id="btnAgregarCliente">
                <i class="flaticon-381-user-8 mx-2"></i>
                Agregar Usuario
            </button>
        </div>
    </div>
    <!--**********************************
        VALIDACION CON JQUERY
    ***********************************-->
    <div class="col-lg-12">
        <div class="card form-container" id="formCliente" style="display: none;">
            <div class="card-body">
                <div class="form-validation">
                    <form class="needs-validation" action="/admin/users" method="POST">
                        <div class="row">
                            <div class="col-xl-6">

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomRole">Tipo de Selección
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="validationCustomRole" name="role">
                                            <option value="" disabled selected>Seleccione un rol</option>
                                            <option value="Admin">Administrador</option>
                                            <option value="Trainer">Entrenador</option>
                                            <option value="Client">Cliente</option>
                                        </select>
                                        <div class="invalid-feedback">Por favor seleccione un rol.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row" id="adminCedulaContainer" style="display: none;">
                                    <label class="col-lg-4 col-form-label" for="validationCustomCedulaAdmin">Cédula<span
                                            class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="validationCustomCedulaAdmin"
                                            name="DocumentId" placeholder="Ingrese cédula">
                                        <div class="invalid-feedback">Por favor seleccione una cédula.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row" id="trainerSelectContainer" style="display: none;">
                                    <label class="col-lg-4 col-form-label" for="validationCustomCedulaTrainer">Cédula
                                        Entrenador
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control single-select" id="validationCustomCedulaTrainer"
                                            name="DocumentIdTrainer">
                                            <option value="" disabled selected>Seleccionar la cédula</option>
                                            {% if trainers %}
                                            {% for trainer in trainers %}
                                            <option class="trainer" value="{{ trainer.DocumentId }}">{{ trainer.Name }}
                                                {{ trainer.lastName }} {{ trainer.lastName2 }} (Entrenador)</option>
                                            {% endfor %}
                                            {% endif %}
                                            {% if not trainers %}
                                            <option value="" disabled>No hay entrenadores disponibles</option>
                                            {% endif %}
                                        </select>
                                        <div class="invalid-feedback">Por favor seleccione una cédula.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row" id="clientSelectContainer" style="display: none;">
                                    <label class="col-lg-4 col-form-label" for="validationCustomCedulaClient">Cédula
                                        Cliente
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control single-select" id="validationCustomCedulaClient"
                                            name="DocumentIdClient">
                                            <option value="" disabled selected>Seleccionar la cédula</option>
                                            {% if clients %}
                                            {% for client in clients %}
                                            <option class="client" value="{{ client.DocumentId }}">{{ client.Name }} {{
                                                client.First_LastName }} {{ client.Second_LastName }} (Cliente)</option>
                                            {% endfor %}
                                            {% endif %}
                                            {% if not clients %}
                                            <option value="" disabled>No hay clientes disponibles</option>
                                            {% endif %}
                                        </select>
                                        <div class="invalid-feedback">Por favor seleccione una cédula.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomPassword">Contraseña
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="validationCustomPassword"
                                            name="Password" placeholder="" required>
                                        <div class="invalid-feedback">Por favor ingrese una contraseña.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label"
                                        for="validationCustomPasswordConfirm">Confirmar Contraseña <span
                                            class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="validationCustomPasswordConfirm"
                                            name="ConfirmPassword" placeholder="" required>
                                        <div class="invalid-feedback">Por favor confirme la contraseña.</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomState">Estado
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="validationCustomState" name="State" required>
                                            <option value="">Seleccione un estado</option>
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                        <div class="invalid-feedback">Por favor seleccione un estado.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomEmail">Correo
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control" id="validationCustomEmail" name="Email"
                                            placeholder="" required>
                                        <div class="invalid-feedback">Por favor ingrese un correo.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="d-flex justify-content-start">
                                <button type="submit" class="btn btn-primary ms-2">Agregar</button>
                                <button class="btn btn-danger ms-2" id="btnCancelar">Cancelar</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        DATATABLES 
    ***********************************-->
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Lista de Usuarios</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="display min-w850">
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Rol</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.DocumentId }}</td>
                                <td>{{ user.role }}</td>
                                <td>{{ user.State }}</td>
                                <td>
                                    <div class="d-flex">
                                        {% if user['State'] == 1 %}
                                        <a href="{{ url_for('admin_app.viewUser', DocumentId=user.DocumentId) }}"
                                            class="btn btn-primary shadow btn-xs sharp me-1">
                                            <i class="fa fa-eye"></i>
                                        </a>

                                        <a href="{{ url_for('admin_app.updateUser', DocumentId=user.DocumentId) }}"
                                            class="btn btn-primary shadow btn-xs sharp me-1">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <button onclick="disableUser(event)" data-id="{{ user['DocumentId'] }}"
                                            id="deshabilitar-{{ user['DocumentId'] }}"
                                            class="btn btn-danger shadow btn-xs sharp">
                                            <i class="fa fa-trash"></i>
                                        </button>

                                        {% else %}
                                        <button onclick="ableUser(event)" data-id="{{ user['DocumentId'] }}"
                                            id="habilitar-{{ user['DocumentId'] }}"
                                            class="btn btn-success shadow btn-xs sharp">
                                            <i class="fa fa-check"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="4">No se encontraron usuarios.</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



<!--**********************************
    Content body end
***********************************-->
{% endblock %}


{% block scripts %}
<script>

    (function () {

        document.getElementById('validationCustomRole').addEventListener('change', function () {
            const role = this.value;
            const trainerSelectContainer = document.getElementById('trainerSelectContainer');
            const clientSelectContainer = document.getElementById('clientSelectContainer');
            const adminCedulaContainer = document.getElementById('adminCedulaContainer');

            // Ocultar ambos select
            trainerSelectContainer.style.display = 'none';
            clientSelectContainer.style.display = 'none';
            adminCedulaContainer.style.display = 'none';

            // Mostrar el select correspondiente según el rol
            if (role === 'Trainer') {
                trainerSelectContainer.style.display = 'flex';
            } else if (role === 'Client') {
                clientSelectContainer.style.display = 'flex';
            } else if (role === 'Admin') {
                adminCedulaContainer.style.display = 'flex';
            }

        });

        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btnAgregarCliente').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'block';
        });

        document.getElementById('btnCancelar').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'none';
        });

    });


</script>

{% endblock %}