<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Cardio - Fitness</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DexignZone">
    <meta name="robots" content="">

    <meta property="og:image" content="">
    <meta name="format-detection" content="telephone=no">

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.png">

    <!-- Toastr -->
    <link rel="stylesheet" href="../vendor/toastr/css/toastr.min.css">

    <!-- Datatable -->
    <link href="../vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Form step -->
    <link href="../vendor/jquery-smartwizard/dist/css/smart_wizard.min.css" rel="stylesheet">

    <!-- Select 2 -->
    <link rel="stylesheet" href="../vendor/chartist/css/chartist.min.css">
    <link href="../vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../vendor/select2/css/select2.min.css">



    <!-- Custom Stylesheet -->
    <link href="../vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>


<body>



    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo" aria-label="Gymove">
                <img class="logo-abbr" src="../images/Icono.jpg" alt="">
                <img class="logo-compact" src="../images/logo-text.png" alt="">
                <img class="brand-title" src="../images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

		
		<!--**********************************
            Header start
        ***********************************-->
        <header class="header">
			<div class="header-content">
				<nav class="navbar navbar-expand">
					<div class="collapse navbar-collapse justify-content-between">
						<div class="header-left">
							<div class="dashboard_bar">
								Usuarios
							</div>
						</div>
						<ul class="navbar-nav header-right">

							<li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link bell dz-theme-mode" href="javascript:void(0);" aria-label="theme-mode">
									<i id="icon-light" class="fas fa-sun"></i>
                                    <i id="icon-dark" class="fas fa-moon"></i>
                                </a>
							</li>

							
							<li class="nav-item dropdown ">
								<a class="nav-link d-flex" href="javascript:void(0)" role="button" data-bs-toggle="dropdown">
										<div class="header-info ">
										<span class="text-black"><strong>Hersal Alfaro</strong></span>
										<span class="dropdown-toggle me-2"></span>

										<p class="fs-12 mb-0">Administrador</p>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="perfil.html" class="dropdown-item ai-icon">
										<svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary"
											width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
											<circle cx="12" cy="7" r="4"></circle>
										</svg>
										<span class="ms-2">Perfil</span>
									</a>

									<a href="../logueo/page-login.html" class="dropdown-item ai-icon">
										<svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger"
											width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
											<polyline points="16 17 21 12 16 7"></polyline>
											<line x1="21" y1="12" x2="9" y2="12"></line>
										</svg>
										<span class="ms-2">Cerrar Sesion </span>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!--**********************************
            Header end ti-comment-alt
        ***********************************-->

		<!--**********************************
            Sidebar start
        ***********************************-->
		<div class="deznav">
			<div class="deznav-scroll">
				<ul class="metismenu" id="menu">

					<li><a href="index.html" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-home"></i>
							<span class="nav-text">Inicio</span>
						</a>
					</li>

					<li><a href="clientes.html" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-user-8"></i>
							<span class="nav-text">Clientes</span>
						</a>
					</li>

					<li><a href="entrenadores.html" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-user-3"></i>
							<span class="nav-text">Entrenadores</span>
						</a>
					</li>
                    
                    <li><a href="Usuarios.html" class="ai-icon" aria-expanded="false">
                        <i class="flaticon-381-user-7"></i>
                        <span class="nav-text">Usuarios</span>
                        </a>
                    </li>

					<li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-id-card"></i>
							<span class="nav-text">Facturacion</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="factura.html">Facturas</a></li>
							<li><a href="reporte.html">Reporte</a></li>
						</ul>
					</li>

					<li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <i class="flaticon-381-archive"></i>
                        <span class="nav-text">Inventario</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="inventario.html">Productos</a></li>
                            <li><a href="membresias.html">Membresías</a></li>
                            <li><a href="reporteInventario.html">Reporte</a></li>
                        </ul>
                    </li>

					<li><a href="notificaciones.html" class="ai-icon" aria-expanded="false">
							<i class="fa fa-bell"></i>
							<span class="nav-text">Notificaciones</span>
						</a>
					</li>

				</ul>

				<div class="copyright">
					<p><strong>Cardio Fitness </strong> © 2024 All Rights Reserved</p>
					<p>Made with <span class="heart"></span> by grupo3</p>
				</div>

			</div>

		</div>
		<!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body default-height">
            <div class="container-fluid">
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Usuarios</a></li>
                    </ol>
                </div>
                <!-- row -->
                <div class="row">

                    <div class="col-xl-12">
                        <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
                            <div class="me-auto pe-3 mb-3"></div>
                            <button class="btn rounded btn-primary mb-3" id="btnAgregarCliente">
                                <i class="flaticon-381-user-8 mx-2"></i>
                                Agregar Usuario
                            </button>
                        </div>
                    </div>
                    <!--**********************************
                        VALIDACION CON JQUERY
                    ***********************************-->
                    <div class="col-lg-12">
                        <div class="card form-container" id="formCliente" style="display: none;">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="needs-validation" novalidate>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustomRole">Rol <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control" id="validationCustomRole" required>
                                                            <option value="">Seleccione un rol</option>
                                                            <option value="Admin">Admin</option>
                                                            <option value="Cliente">Cliente</option>
                                                            <option value="Entrenador">Entrenador</option>
                                                        </select>
                                                        <div class="invalid-feedback">Por favor seleccione un rol.</div>
                                                    </div>
                                                </div>
                    
                                                <div class="mb-3 row" id="clientSelection" style="display: none;">
                                                    <label class="col-lg-4 col-form-label" for="validationCustomClient">Cliente <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control" id="validationCustomClient">
                                                            <option value="">Seleccione un cliente</option>
                                                            <option value="Carlos Hidalgo">Carlos Hidalgo</option>
                                                            <option value="Kennethe Navarro">Kennethe Navarro</option>
                                                            
                                                        </select>
                                                        <div class="invalid-feedback">Por favor seleccione un cliente.</div>
                                                    </div>
                                                </div>
                    
                                                <div class="mb-3 row" id="trainerSelection" style="display:none;">
                                                    <label class="col-lg-4 col-form-label" for="validationCustomTrainer">Entrenador <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control" id="validationCustomTrainer" >
                                                            <option value="">Seleccione un entrenador</option>
                                                            <option value="Maria Gonzalez">Maria Gonzalez</option>
                                                            <option value="Juan Perez">Juan Perez</option>
                                                            
                                                        </select>
                                                        <div class="invalid-feedback">Por favor seleccione un entrenador.</div>
                                                    </div>
                                                </div>
                    
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustomCedula">Cédula <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <input type="text" class="form-control" id="validationCustomCedula" placeholder="" required>
                                                        <div class="invalid-feedback">Por favor ingrese cédula.</div>
                                                    </div>
                                                </div>
                    
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustomPassword">Contraseña <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <input type="password" class="form-control" id="validationCustomPassword" placeholder="" required>
                                                        <div class="invalid-feedback">Por favor ingrese una contraseña.</div>
                                                    </div>
                                                </div>
                    
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustomPasswordConfirm">Confirmar Contraseña <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <input type="password" class="form-control" id="validationCustomPasswordConfirm" placeholder="" required>
                                                        <div class="invalid-feedback">Por favor confirme la contraseña.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustomState">Estado <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <select class="form-control" id="validationCustomState" required>
                                                            <option value="">Seleccione un estado</option>
                                                            <option value="Activo">Activo</option>
                                                            <option value="Inactivo">Inactivo</option>
                                                        </select>
                                                        <div class="invalid-feedback">Por favor seleccione un estado.</div>
                                                    </div>
                                                </div>
                    
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustomEmail">Correo <span class="text-danger">*</span></label>
                                                    <div class="col-lg-6">
                                                        <input type="email" class="form-control" id="validationCustomEmail" placeholder="" required>
                                                        <div class="invalid-feedback">Por favor ingrese un correo.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my-3">
                                            <div class="d-flex justify-content-start">
                                                <button type="submit" class="btn btn-primary ms-2">Agregar</button>
                                                <button class="btn btn-danger ms-2" id="btnCancelar">Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                    
                                    <script>
                                        document.getElementById('validationCustomRole').addEventListener('change', function () {
                                            var role = this.value;
                                            var clientSelection = document.getElementById('clientSelection');
                                            var trainerSelection = document.getElementById('trainerSelection');
                                            
                                            clientSelection.style.display = 'none';
                                            trainerSelection.style.display = 'none';
                                            document.getElementById('validationCustomCedula').value = '';
                                            document.getElementById('validationCustomEmail').value = '';
                    
                                            if (role === 'Cliente') {
                                                clientSelection.style.display = 'flex';
                                            } else if (role === 'Entrenador') {
                                                trainerSelection.style.display = 'flex';
                                            }
                    
                                            document.getElementById('validationCustomClient').addEventListener('change', function () {
                                                var selectedClient = this.value;
                                                if (selectedClient) {
                                                    document.getElementById('validationCustomCedula').value = 'Cédula del Cliente'; 
                                                    document.getElementById('validationCustomEmail').value = 'Correo del Cliente'; 
                                                }
                                            });
                    
                                            document.getElementById('validationCustomTrainer').addEventListener('change', function () {
                                                var selectedTrainer = this.value;
                                                if (selectedTrainer) {
                                                    
                                                    document.getElementById('validationCustomCedula').value = 'Cédula del Entrenador'; 
                                                    document.getElementById('validationCustomEmail').value = 'Correo del Entrenador'; 
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--**********************************
                        DATATABLES 
                    ***********************************-->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Lista de Usuarios</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example2" class="display min-w850">
                                        <thead>
                                            <tr>
                                                <th>Cedula</th>
                                                <th>Rol</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>0-0000-000</td>
                                                <td>Administrador</td>
                                                <td>Activo</td>
                                                <td>
                                                    <div class="d-flex">

                                                        <a href="verUsuario.html" class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                                class="fa fa-eye"></i></a>
                                                        <a href="actualizarUsuario.html" class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                                class="fa fa-pencil"></i></a>
                                                        <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                                class="fa fa-trash"></i></a>

                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>

        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <footer class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="" target="_blank">grupo3</a> 2024</p>
            </div>
        </footer>
        <!--**********************************
            Footer end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->


    <!--**********************************
        Scripts
    ***********************************-->

	<!-- Required vendors -->
	<script src="../vendor/global/global.min.js"></script>
	<script src="../vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
	<!--select plugins-file-->
	<script src="../vendor/select2/js/select2.full.min.js"></script>
	<!-- Toastr -->
	<script src="../vendor/toastr/js/toastr.min.js"></script>
	<!-- Pasos -->
	<script src="../vendor/jquery-steps/js/jquery.steps.min.js"></script>
	<script src="../vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js"></script>
	<!-- Datatable -->
	<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
	<!-- ck-editor -->
	<script src="../vendor/ckeditor/ckeditor.js"></script>
	<!-- Apex Chart -->
	<script src="../vendor/apexchart/apexchart.js"></script>
	<!-- Chart piety plugin files -->
	<script src="../vendor/peity/jquery.peity.min.js"></script>

	<!-- All init script -->
	<script src="../js/plugins-init/select2-init.js"></script>
	<script src="../js/plugins-init/toastr-init.js"></script>
	<script src="../js/plugins-init/datatables.init.js"></script>

	<!-- CUSTOM SCRIPT -->
	<script src="../js/dashboard/cms.js"></script>
	<script src="../js/custom.min.js"></script>
	<script src="../js/deznav-init.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('btnAgregarCliente').addEventListener('click', function () {
                document.getElementById('formCliente').style.display = 'block';
            });

            document.getElementById('btnCancelar').addEventListener('click', function () {
                document.getElementById('formCliente').style.display = 'none';
            });

        });
    </script>

    <script>
        $(document).ready(function () {
            // SmartWizard initialize
            $('#smartwizard').smartWizard();
        });
    </script>

    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

</body>

</html>