{% extends "./layout/Layout_Admin.html" %}

{% block content %}
<!--**********************************
        Content body start
***********************************-->

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Usuarios</a></li>
    </ol>
</div>
<!-- row -->
<div class="row">

    <div class="col-xl-12">
        <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
            <div class="me-auto pe-3 mb-3"></div>
            <button class="btn rounded btn-primary mb-3" id="btnAgregarCliente">
                <i class="flaticon-381-user-8 mx-2"></i>
                Agregar Usuario
            </button>
        </div>
    </div>
    <!--**********************************
                        VALIDACION CON JQUERY
                    ***********************************-->
    <div class="col-lg-12">
        <div class="card form-container" id="formCliente" style="display: none;">
            <div class="card-body">
                <div class="form-validation">
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomRole">Rol <span
                                            class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="validationCustomRole" required>
                                            <option value="">Seleccione un rol</option>
                                            <option value="Admin">Admin</option>
                                            <option value="Cliente">Cliente</option>
                                            <option value="Entrenador">Entrenador</option>
                                        </select>
                                        <div class="invalid-feedback">Por favor seleccione un rol.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row" id="clientSelection" style="display: none;">
                                    <label class="col-lg-4 col-form-label" for="validationCustomClient">Cliente
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="validationCustomClient">
                                            <option value="">Seleccione un cliente</option>
                                            <option value="Carlos Hidalgo">Carlos Hidalgo</option>
                                            <option value="Kennethe Navarro">Kennethe Navarro</option>

                                        </select>
                                        <div class="invalid-feedback">Por favor seleccione un cliente.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row" id="trainerSelection" style="display:none;">
                                    <label class="col-lg-4 col-form-label" for="validationCustomTrainer">Entrenador
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="validationCustomTrainer">
                                            <option value="">Seleccione un entrenador</option>
                                            <option value="Maria Gonzalez">Maria Gonzalez</option>
                                            <option value="Juan Perez">Juan Perez</option>

                                        </select>
                                        <div class="invalid-feedback">Por favor seleccione un entrenador.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomCedula">Cédula
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="validationCustomCedula"
                                            placeholder="" required>
                                        <div class="invalid-feedback">Por favor ingrese cédula.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomPassword">Contraseña
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="validationCustomPassword"
                                            placeholder="" required>
                                        <div class="invalid-feedback">Por favor ingrese una contraseña.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label"
                                        for="validationCustomPasswordConfirm">Confirmar Contraseña <span
                                            class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="validationCustomPasswordConfirm"
                                            placeholder="" required>
                                        <div class="invalid-feedback">Por favor confirme la contraseña.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomState">Estado
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="validationCustomState" required>
                                            <option value="">Seleccione un estado</option>
                                            <option value="Activo">Activo</option>
                                            <option value="Inactivo">Inactivo</option>
                                        </select>
                                        <div class="invalid-feedback">Por favor seleccione un estado.</div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustomEmail">Correo
                                        <span class="text-danger">*</span></label>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control" id="validationCustomEmail"
                                            placeholder="" required>
                                        <div class="invalid-feedback">Por favor ingrese un correo.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="d-flex justify-content-start">
                                <button type="submit" class="btn btn-primary ms-2">Agregar</button>
                                <button class="btn btn-danger ms-2" id="btnCancelar">Cancelar</button>
                            </div>
                        </div>
                    </form>

                    <script>
                        document.getElementById('validationCustomRole').addEventListener('change', function () {
                            var role = this.value;
                            var clientSelection = document.getElementById('clientSelection');
                            var trainerSelection = document.getElementById('trainerSelection');

                            clientSelection.style.display = 'none';
                            trainerSelection.style.display = 'none';
                            document.getElementById('validationCustomCedula').value = '';
                            document.getElementById('validationCustomEmail').value = '';

                            if (role === 'Cliente') {
                                clientSelection.style.display = 'flex';
                            } else if (role === 'Entrenador') {
                                trainerSelection.style.display = 'flex';
                            }

                            document.getElementById('validationCustomClient').addEventListener('change', function () {
                                var selectedClient = this.value;
                                if (selectedClient) {
                                    document.getElementById('validationCustomCedula').value = 'Cédula del Cliente';
                                    document.getElementById('validationCustomEmail').value = 'Correo del Cliente';
                                }
                            });

                            document.getElementById('validationCustomTrainer').addEventListener('change', function () {
                                var selectedTrainer = this.value;
                                if (selectedTrainer) {

                                    document.getElementById('validationCustomCedula').value = 'Cédula del Entrenador';
                                    document.getElementById('validationCustomEmail').value = 'Correo del Entrenador';
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
                        DATATABLES 
                    ***********************************-->
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Lista de Usuarios</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="display min-w850">
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Rol</th>
                                <th>Estado</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0-0000-000</td>
                                <td>Administrador</td>
                                <td>Activo</td>
                                <td>
                                    <div class="d-flex">

                                        <a href="{{ url_for('admin_app.verUsuario') }}" class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                class="fa fa-eye"></i></a>
                                        <a href="{{ url_for('admin_app.actualizarUsuario') }}"
                                            class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                class="fa fa-pencil"></i></a>
                                        <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                class="fa fa-trash"></i></a>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




</div>


<!--**********************************
            Content body end
        ***********************************-->
{% endblock %}


{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btnAgregarCliente').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'block';
        });

        document.getElementById('btnCancelar').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'none';
        });

    });
</script>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}