
{% extends "./layout/Layout_Client.html" %}


{% block content %}
<div class="content-body default-height">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Productos</a></li>
            </ol>
        </div>
        <div class="row">
            
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <a href="verProducto.html">
                                        <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                    </a>
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount">₡12 900</del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <a href="verProducto.html">
                                    <img class="img-fluid rounded" src="../images/creatina.png" alt="">
                                </a>
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>Creatina</h4>
                                <del class="discount"></del>
                                <span class="price">₡18 900</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}



<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").on('change', function () {

        readURL(this);
    });
    $('.remove-img').on('click', function () {
        var imageUrl = "images/no-img-avatar.png";
        $('.avatar-preview, #imagePreview').removeAttr('style');
        $('#imagePreview').css('background-image', 'url(' + imageUrl + ')');
    });
</script>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}