
{% extends "./layout/Layout_Client.html" %}


{% block content %}
<div class="content-body default-height">
	<!-- row -->
	<div class="container-fluid">
		<div class="page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active"><a href="javascript:void(0)">Rutinas</a></li>
			</ol>
		</div>
		
		{% for routine in routines %}
		<div class="row">
			<div class="col-12">
				<div class="card form-container">
					<div class="card-body ">
						<div class="d-flex justify-content-between align-items-center mb-4">
							<h4 class="card-title">{{ routine['Indications'] }}</h4>
							<span>{{ routine['Date'] }}</span> 
							<a href="{{ url_for('client_app.viewRoutine', routineId = routine['RoutineId']) }}" class="btn btn-primary">
								<i class="fas fa-eye me-3"></i>Ver Rutina 
							</a>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
</div>
{% endblock %}
