<!--**********************************
    Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">

            <li><a href="index.html" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-home"></i>
                    <span class="nav-text">Inicio</span>
                </a>
            </li>

            <li><a href="rutinaCliente.html" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">Rutinas</span>
                </a>
            </li>


            <li><a href="inventario.html" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-archive"></i>
                    <span class="nav-text">Productos</span>
                </a>
            </li>

            <li><a href="Estadisticas.html" class="ai-icon" aria-expanded="false">
                    <i class="fas fa-chart-bar"></i>
                    <span class="nav-text">Mis Estadísticas</span>
                </a>
            </li>

        </ul>

        <div class="copyright">
            <p><strong>Cardio Fitness </strong> © 2024 All Rights Reserved</p>
            <p>Made with <span class="heart"></span></p>
        </div>

    </div>

</div>
<!--**********************************
    Sidebar end
***********************************-->