{% extends "./layout/Layout_Admin.html" %}

{% block content %}
<!--**********************************
            Content body start
        ***********************************-->
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('admin_app.membresias') }}">Membresías</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Editar Membresía</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card form-container">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Membresía </h4>
                        <div class="form-validation">
                            <form class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom01">Nombre
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="validationCustom01"
                                                    placeholder="" required>
                                                <div class="invalid-feedback">
                                                    Por favor ingresar Nombre
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom02">Descripción
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="validationCustom02"
                                                    placeholder="" required>
                                                <div class="invalid-feedback">
                                                    Por favor ingresar Descripción
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom03">Precio
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="number" class="form-control" id="validationCustom03"
                                                    placeholder="" required>
                                                <div class="invalid-feedback">
                                                    Por favor ingresar Precio
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="my-5">
                                    <button type="submit" class="btn btn-primary me-2">Actualizar</button>
                                    <a type="button" class="btn btn-danger me-2" href="{{ url_for('admin_app.membresias') }}">Cancelar</a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!--**********************************
            Content body end
        ***********************************-->

{% block scripts %}
<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

{% endblock %}