{% extends "./layout/Layout_Admin.html" %}


{% block content %}
<!--**********************************
            Content body start
        ***********************************-->

<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Facturas</a></li>
    </ol>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
            <div class="me-auto pe-3 mb-3"></div>
            <button class="btn rounded btn-primary mb-3" id="btnAgregarCliente">
                Agregar Factura
            </button>
        </div>
    </div>

    <div class="card form-container" id="formCliente" style="display: none;">


        <div class="form-group">
            <label for="invoiceType">Seleccione el tipo de factura:</label>
            <select class="form-control" id="invoiceType">
                <option value="" selected>Seleccione el Tipo de Pago</option>
                <option value="entrenador">Pago Entrenador</option>
                <option value="gasto">Pago General</option>
                <option value="productos">Pago Productos</option>
                <option value="membresia">Pago Membresía</option>

            </select>
        </div>


        <div class="col-xl-12">
            <div id="entrenadorForm" class="form-container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 order-lg-1">
                                <h4 class="mb-3">Información de Pago de Entrenador</h4>
                                <form class="needs-validation" novalidate action="/admin/bills" method="POST">
                                    <input id="typeEntity" name="typeEntity" type="hidden" value="Trainer">
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label class="form-label">Entrenador
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select class="single-select" id="DocumentIdTrainer"
                                                name="DocumentIdTrainer" required>
                                                <option disabled value="">Seleccionar el entrenador</option>
                                                {% if trainers %}
                                                {% for trainer in trainers %}
                                                <option value="{{ trainer.DocumentId }}">{{ trainer.Name }}
                                                    {{trainer.First_LastName }} {{ trainer.Second_LastName }}
                                                    (Entrenador)
                                                </option>
                                                {% endfor %}
                                                {% endif %}
                                                {% if not trainers %}
                                                <option disabled value="" selected>No hay entrenadores disponibles
                                                </option>
                                                {% endif %}
                                            </select>
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="AmountTrainerBill" class="form-label">Monto
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="number" class="form-control" name="AmountTrainerBill"
                                            id="AmountTrainerBill" value="{{ trainerValidated.Amount }}" placeholder="₡"
                                            required>
                                        <div class="invalid-feedback">
                                            Por favor ingresar un valor válido.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="date" class="form-label">Fecha
                                        </label>
                                        <input type="text" class="form-control" name="date" id="date" readonly>
                                    </div>

                                    <div class="mb-3">
                                        <label for="Description" class="form-label">Descripción
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" name="Description" id="Description"
                                            placeholder="" value="{{ trainerValidated.Description }}" required>
                                        <div class="invalid-feedback">
                                            Por favor ingresar un valor valido
                                        </div>
                                    </div>

                                    <hr class="mb-4">

                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div id="gastoForm" class="form-container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 order-lg-1">
                                <h4 class="mb-3">Información de Pago General</h4>
                                <form class="needs-validation" novalidate action="/admin/bills" method="POST">
                                    <input id="typeEntity" name="typeEntity" type="hidden" value="General">
                                    <div class="row">
                                        <div class="mb-3">
                                            <label for="AmountGeneralBill" class="form-label">Monto
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="AmountGeneralBill"
                                                id="AmountGeneralBill" placeholder="₡"
                                                value="{{ generalValidated.Amount }}" required>
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="date" class="form-label">Fecha
                                            </label>
                                            <input type="text" class="form-control" name="date" id="date" readonly>
                                        </div>

                                        <div class="mb-3">
                                            <label for="Description" class="form-label">Descripción
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="Description" id="Description"
                                                value="{{ generalValidated.Description }}" required>
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mb-4">

                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div id="productosForm" class="form-container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8 order-lg-1">
                                <h4 class="mb-3">Información de Pago de Producto</h4>
                                <form class="needs-validation" novalidate action="/admin/bills" method="POST">
                                    <input id="typeEntity" name="typeEntity" type="hidden" value="Product">
                                    <div class="row">
                                        <div class="mb-3">
                                            <label class="form-label">Productos
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select class="single-select" id="validationCustomProductId"
                                                name="DocumentIdProduct" onchange="updateProductPrice()" required>
                                                <option value="">Selecciona el producto</option>
                                                {% if products %}
                                                {% for product in products %}
                                                <option value="{{ product.ID_Product }}"
                                                    data-price="{{ product.Price }}">
                                                    {{ product.Name }} (Producto)
                                                </option>
                                                {% endfor %}
                                                {% endif %}
                                                {% if not products %}
                                                <option value="" disabled selected>No hay productos disponibles</option>
                                                {% endif %}
                                            </select>
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="AmountProductBill" class="form-label">Monto
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="AmountProductBill"
                                                id="AmountProductBill" value="{{ productValidated.Amount }}" required=""
                                                readonly>
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="date" class="form-label">Fecha</label>
                                            <input type="text" class="form-control" name="date" id="date" readonly>
                                        </div>

                                        <div class="mb-3">
                                            <label for="Amount" class="form-label">Cantidad</label>
                                            <input type="number" class="form-control" name="Amount" id="Amount" required
                                                onchange="updateProductPrice()">
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="Descripcion" class="form-label">Descripción
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control" id="Descripcion" name="Description"
                                                placeholder="" required="">
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>

                                    </div>

                                    <hr class="mb-4">

                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div id="membresiaForm" class="form-container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 order-lg-1">
                                <h4 class="mb-3">Información de Pago de Membresía</h4>
                                <form class="needs-validation" novalidate action="/admin/bills" method="POST"
                                    onsubmit="updateMembershipPrice()">
                                    <input id="typeEntity" name="typeEntity" type="hidden" value="Membership">
                                    <input type="hidden" id="MembershipType" name="MembershipType" value="">

                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label class="form-label">Cliente
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select class="single-select" id="validationCustomCedulaClient"
                                                name="DocumentIdClient" required>
                                                <option value="">Seleccionar el cliente</option>
                                                {% if clients %}
                                                {% for client in clients %}
                                                <option value="{{ client.DocumentId }}">
                                                    {{ client.Name }} {{ client.First_LastName }} {{
                                                    client.Second_LastName }} (Cliente)
                                                </option>
                                                {% endfor %}
                                                {% endif %}
                                                {% if not clients %}
                                                <option value="" disabled selected>No hay clientes disponibles</option>
                                                {% endif %}
                                            </select>
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label class="form-label">Membresía
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select class="single-select" id="validationCustomMembresiaId"
                                                name="DocumentIdMembresia" onchange="updateMembershipPrice()" required>
                                                <option value="">Seleccionar la membresía</option>
                                                {% if memberships %}
                                                {% for membership in memberships %}
                                                <option value="{{ membership.id }}" data-price="{{ membership.Precio }}"
                                                    data-type="{{ membership.type }}">
                                                    {{ membership.Name }} (Membresía)
                                                </option>
                                                {% endfor %}
                                                {% endif %}
                                                {% if not memberships %}
                                                <option value="" disabled selected>No hay membresías disponibles
                                                </option>
                                                {% endif %}
                                            </select>
                                            <div class="invalid-feedback">
                                                Por favor ingresar un valor valido
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Campo oculto para TipoMembresia -->
                                    <input type="hidden" id="TipoMembresia" name="TipoMembresia" value="">

                                    <div class="mb-3">
                                        <label for="AmountMembershipBill" class="form-label">Monto
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" name="AmountMembershipBill"
                                            id="AmountMembershipBill" required="">
                                        <div class="invalid-feedback">
                                            Por favor ingresar un valor valido
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="date" class="form-label">Fecha</label>
                                        <input type="text" class="form-control" name="date" id="date" readonly>
                                    </div>

                                    <div class="mb-3">
                                        <label for="Descripcion" class="form-label">Descripción
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="Descripcion" name="Description"
                                            required="">
                                        <div class="invalid-feedback">
                                            Por favor ingresar un valor valido
                                        </div>
                                    </div>

                                    <hr class="mb-4">

                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-danger ms-2 mb-4" id="btnCancelar">Cancelar</button>
    </div>


</div>
<!--**********************************
                        DATATABLES 
                    ***********************************-->
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Lista de Facturas</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example2" class="display min-w850">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bill in bills %}
                        <tr>
                            <td>{{ bill['Type'] }}</td>
                            <td>{{ bill['Date'] }}</td>
                            <td>₡{{ bill['Amount'] }}</td>
                            <td>
                                <div class="d-flex">
                                    {% if bill['State'] == 1 %}
                                    <a href="{{ url_for('admin_app.viewBill', ID_Bill = bill['ID_Bill'] ) }}"
                                        class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>

                                    <a href="{{ url_for('admin_app.cancelBill', ID_Bill = bill['ID_Bill'] ) }}"
                                        class="btn btn-danger shadow btn-xs sharp">
                                        <i class="fa fa-trash"></i>
                                    </a>

                                    {% else %}

                                    <a href="{{ url_for('admin_app.viewcancelBill', ID_Bill = bill['ID_Bill']) }}"
                                        class="btn btn-secondary shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>

                                    {% endif %}
                                </div>

                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!--**********************************
            Content body end
        ***********************************-->
{% endblock %}

{% block scripts %}

<script type="module" src="../../../static/js/handleFormPay.js"></script>

<!-- Oculta los tipos de pago -->
<style>
    .form-container {
        display: none;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btnAgregarCliente').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'block';
        });

        document.getElementById('btnCancelar').addEventListener('click', function () {
            document.getElementById('formCliente').style.display = 'none';
        });

    });
</script>


<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var inputsDate = document.getElementsByName('date');
        var today = new Date();
        // Ajustar la fecha a la zona horaria local
        var offset = today.getTimezoneOffset() * 60000; // Convertir minutos a milisegundos
        var localDate = new Date(today.getTime() - offset);
        var formattedDate = localDate.toISOString().split('T')[0]; // Formato YYYY-MM-DD
        for (var i = 0; i < inputsDate.length; i++) {
            inputsDate[i].value = formattedDate;  // Asignar la fecha formateada
        }
    });
</script>

<script>
    $(".js-example-tags").select2({
        tags: true
    });

    function updateProductPrice() {
        var select = document.getElementById('validationCustomProductId');
        var selectedOption = select.options[select.selectedIndex];
        var price = selectedOption.getAttribute('data-price');

        // Asegurarse de que el precio sea un valor numérico y esté correctamente formateado
        if (price) {
            var formattedPrice = parseFloat(price).toFixed(2); // Formatear el precio a 2 decimales
            document.getElementById('AmountProductBill').value = '₡' + formattedPrice;
        } else {
            document.getElementById('AmountProductBill').value = ''; // Si no hay precio, limpiar el campo
        }
    }
    function updateMembershipPrice() {
        var select = document.getElementById('validationCustomMembresiaId');
        var selectedOption = select.options[select.selectedIndex];

        console.log("Opción seleccionada: ", selectedOption);  // Depuración: Verificar la opción seleccionada

        var price = selectedOption.getAttribute('data-price');
        console.log("Precio capturado: ", price);  // Depuración: Verificar el valor de data-price

        // Obtener el tipo de membresía del atributo data-type
        var membershipType = selectedOption.getAttribute('data-type');
        console.log("Tipo de membresía capturado: ", membershipType);  // Depuración: Verificar el tipo de membresía

        // Asegurarse de que el precio sea un valor numérico y esté correctamente formateado
        if (price) {
            var formattedPrice = parseFloat(price).toFixed(2); // Formatear el precio a 2 decimales
            document.getElementById('AmountMembershipBill').value = '₡' + formattedPrice;
        } else {
            document.getElementById('AmountMembershipBill').value = ''; // Si no hay precio, limpiar el campo
        }

        // Actualizar el campo oculto con el tipo de membresía
        document.getElementById('TipoMembresia').value = membershipType;
    }

</script>

<script>
    function updateProductPrice() {
        const productSelect = document.getElementById('validationCustomProductId');
        const selectedOption = productSelect.options[productSelect.selectedIndex];
        const price = parseFloat(selectedOption.getAttribute('data-price')) || 0;
        const quantity = parseInt(document.getElementById('Amount').value) || 0;
        const totalPrice = price * quantity;

        document.getElementById('AmountProductBill').value = totalPrice.toFixed(2);
        document.getElementById('TotalPrice').value = totalPrice.toFixed(2);
    }
</script>
{% endblock %}