{% extends "./layout/Layout_Admin.html" %}


{% block content %}
<!--**********************************
            Content body start
        ***********************************-->

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('admin_app.viewProduct') }}">Producto</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Actualizar Producto</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Producto</h4>

                <form class="needs-validation" action="/admin/inventory/updateProduct" method="POST" novalidate enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                    aria-labelledby="home-tab" tabindex="0">
                                    <img class="img-fluid rounded " src="data:image/jpeg;base64,{{ product.Image }}" alt="{{ product.Name }}">
                                </div>
                            </div>

                            <div class="card-body align-items-center ">
                                <div class="avatar-upload  align-items-center ">
                                    <div class="position-relative ">
                                        <div class="avatar-preview">
                                            <div id="imagePreview">
                                            </div>
                                        </div>
                                        <div class="change-btn align-items-center text-center flex-wrap">
                                            <input type='file' class="form-control d-none" id="imageUpload"  name="Image" accept=".png, .jpg, .jpeg">
                                            <label for="imageUpload" class="btn btn-primary ms-0">Seleccionar Imagen</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Tab slider End-->
                        <div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
                            <div class="product-detail-content">
                                <!--Product details-->
                                <div class="new-arrival-content mt-md-0 mt-3 pr">
                                    <div class="col-xl-12 col-sm-10">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationName">Nombre
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" id="validationName" value="{{ product.Name }}" name="Name" required>
                                                <div class="invalid-feedback">
                                                    Por favor ingresar Nombre
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationPrice">Precio
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                <input type="number" class="form-control" id="validationPrice" value="{{product.Price}}" name="Price" required>
                                                <div class="invalid-feedback">
                                                    Por favor ingresar Precio
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationStock">Cantidad
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                <input type="number" class="form-control" id="validationStock" value="{{product.Stock}}" name="Stock" required>
                                                <div class="invalid-feedback">
                                                    Por favor ingresar Cantidad
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationDetail">Detalle
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" id="validationDetail" value="{{product.Detail}}" name="Detail" required>
                                                <div class="invalid-feedback">
                                                    Por favor ingresar Detalle
                                                </div>
                                            </div>
                                        </div>

                                        <div class="me-3">
                                            <button class="btn btn-primary" type="submit">Actualizar</button>
                                            <a class="btn btn-danger" href="{{ url_for('admin_app.viewProduct')}}">Cancelar</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
    <!-- review -->
</div>
<!--**********************************
            Content body end
        ***********************************-->

{% endblock %}

{% block scripts %}
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").on('change', function () {

        readURL(this);
    });
    $('.remove-img').on('click', function () {
        var imageUrl = "images/no-img-avatar.png";
        $('.avatar-preview, #imagePreview').removeAttr('style');
        $('#imagePreview').css('background-image', 'url(' + imageUrl + ')');
    });
</script>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}