<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Cardio - Fitness</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DexignZone">
    <meta name="robots" content="">

    <meta property="og:image" content="">
    <meta name="format-detection" content="telephone=no">

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon icon -->
    <link href="../images/favicon.png" rel="shortcut icon" type="image/x-icon">

    <!-- Toastr -->
    <link href="../../../static/vendor/toastr/css/toastr.min.css" rel="stylesheet">

    <!-- Datatable -->
    <link rel="stylesheet" href="../../../static/vendor/datatables/css/jquery.dataTables.min.css">

    <!-- Form step -->
    <link rel="stylesheet" href="../../../static/vendor/jquery-smartwizard/dist/css/smart_wizard.min.css">

    <!-- Select 2 -->
    <link rel="stylesheet" href="../vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="../../../static/vendor/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../../static/vendor/select2/css/select2.min.css">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../../../static/css/style.css">

</head>


<body>
    <!-- Required vendors -->
    <script src="../../../static/vendor/global/global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Toastr -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="../../../static/js/toastrConfig.js"></script>

    <!-- Actions -->
    <script src="../../../static/js/stateClient.js"></script>
    <script src="../../../static/js/stateUser.js"></script>
    <script src="../../../static/js/stateMembership.js"></script>

    <!-- Alerts toastr -->
    {% if error %}
    <script>
        errorMessage("{{ error|escape }}");
    </script>
    {% endif %}
    {% if done %}
    <script>
        successMessage("{{ done|escape }}");
    </script>
    {% endif %}

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo" aria-label="Cardio-Fitness">
                <img class="logo-abbr" src="../images/Icono.jpg" alt="">
                <img class="logo-compact" src="../images/Icono.jpg" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <header class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
                                Inicio
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">

                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link bell dz-theme-mode" href="javascript:void(0);"
                                    aria-label="theme-mode">
                                    <i id="icon-light" class="fas fa-sun"></i>
                                    <i id="icon-dark" class="fas fa-moon"></i>
                                </a>
                            </li>


                            <li class="nav-item dropdown ">
                                <a class="nav-link d-flex" href="javascript:void(0)" role="button"
                                    data-bs-toggle="dropdown">
                                    <div class="header-info ">
                                        <span class="text-black"><strong>Hersal Alfaro</strong></span>
                                        <span class="dropdown-toggle me-2"></span>

                                        <p class="fs-12 mb-0">{{ current_user.role }}</p>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="{{ url_for('admin_app.perfil') }}" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary"
                                            width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                        <span class="ms-2">Perfil</span>
                                    </a>

                                    <a href="{{ url_for ('login_app.logout') }}" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger"
                                            width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                            <polyline points="16 17 21 12 16 7"></polyline>
                                            <line x1="21" y1="12" x2="9" y2="12"></line>
                                        </svg>
                                        <span class="ms-2">Cerrar Sesion </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
                <ul class="metismenu" id="menu">

                    <li><a href="{{ url_for('admin_app.inicio') }}" class="ai-icon" aria-expanded="false">
                            <i class="flaticon-381-home"></i>
                            <span class="nav-text">Inicio</span>
                        </a>
                    </li>

                    <li><a href="{{ url_for('admin_app.clients') }}" class="ai-icon" aria-expanded="false">
                            <i class="flaticon-381-user-8"></i>
                            <span class="nav-text">Clientes</span>
                        </a>
                    </li>

                    <li><a href="{{ url_for('admin_app.trainers') }}" class="ai-icon" aria-expanded="false">
                            <i class="flaticon-381-user-3"></i>
                            <span class="nav-text">Entrenadores</span>
                        </a>
                    </li>

                    <li><a href="{{ url_for('admin_app.users') }}" class="ai-icon" aria-expanded="false">
                            <i class="flaticon-381-user-7"></i>
                            <span class="nav-text">Usuarios</span>
                        </a>
                    </li>

                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-381-id-card"></i>
                            <span class="nav-text">Facturacion</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('admin_app.facturas') }}">Facturas</a></li>
                            <li><a href="{{ url_for('admin_app.reportesFacturacion') }}">Reporte</a></li>
                        </ul>
                    </li>

                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-381-archive"></i>
                            <span class="nav-text">Inventario</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('admin_app.inventory') }}">Productos</a></li>
                            <li><a href="{{ url_for('admin_app.memberships') }}">Membresías</a></li>
                            <li><a href="{{ url_for('admin_app.reportesInventario') }}">Reporte</a></li>
                        </ul>
                    </li>

                    <li><a href="{{ url_for('admin_app.notifications') }}" class="ai-icon" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="nav-text">Notificaciones</span>
                        </a>
                    </li>

                </ul>

                <div class="copyright">
                    <p><strong>Cardio Fitness </strong> © 2024 All Rights Reserved</p>
                    <p>Made with <span class="heart"></span> by grupo3</p>
                </div>

            </div>

        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body default-height">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        {% block content%}
                        <!-- Here go the content -->
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <footer class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="" target="_blank">grupo3</a> 2024</p>
            </div>
        </footer>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->



    <script src="../../../static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!--select plugins-file-->
    <script src="../../../static/vendor/select2/js/select2.full.min.js"></script>
    <!-- Toastr -->
    <script src="../../../static/vendor/toastr/js/toastr.min.js"></script>
    <!-- Pasos -->
    <script src="../../../static/vendor/jquery-steps/js/jquery.steps.min.js"></script>
    <script src="../../../static/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js"></script>
    <!-- Datatable -->
    <script src="../../../static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <!-- ck-editor -->
    <script src="../../../static/vendor/ckeditor/ckeditor.js"></script>
    <!-- Apex Chart -->
    <script src="../../../static/vendor/apexchart/apexchart.js"></script>
    <!-- Chart piety plugin files -->
    <script src="../../../static/vendor/peity/jquery.peity.min.js"></script>

    <!-- All init script -->
    <script src="../../../static/js/plugins-init/select2-init.js"></script>
    <script src="../../../static/js/plugins-init/toastr-init.js"></script>
    <script src="../../../static/js/plugins-init/datatables.init.js"></script>

    <!-- CUSTOM SCRIPT -->
    <script src="../../../static/js/dashboard/dashboard-1.js"></script>
    <script src="../../../static/js/custom.min.js"></script>
    <script src="../../../static/js/deznav-init.js"></script>

    <script>
        $(document).ready(function () {
            // SmartWizard initialize
            $('#smartwizard').smartWizard();
        });
    </script>

    {% block scripts %}
    {% endblock %}
</body>

</html>